################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/OpenGLwithMFC/OpenGLwithMFC/Debug/vc141.pdb
/OpenGLwithMFC/OpenGLwithMFC/Debug/vc141.idb
/OpenGLwithMFC/OpenGLwithMFC/Debug/stdafx.obj
/OpenGLwithMFC/OpenGLwithMFC/Debug/OpenGLwithMFCDlg.obj
/OpenGLwithMFC/OpenGLwithMFC/Debug/OpenGLwithMFC.res
/OpenGLwithMFC/OpenGLwithMFC/Debug/OpenGLwithMFC.pch
/OpenGLwithMFC/OpenGLwithMFC/Debug/OpenGLwithMFC.obj
/OpenGLwithMFC/OpenGLwithMFC/Debug/OpenGLwithMFC.log
/gap_sinogram/vs2015/gap_sinogram.vcxproj.user
/gap_sinogram/vs2015/hrrt_normal.s
/MFC/MFC/Debug
/MFC/Debug
/opencv_mouse_callback
/file_input_output/Debug
/file_input_output/.vs/file_input_output/v15
/file_input_output/output.txt
/fuction_rotate/.vs/fuction_rotate/v15
/fuction_rotate/Debug
/fuction_rotate/Debug
/fuction_rotate/.vs/fuction_rotate/v15
/fuction_rotate/x64/Debug
/intersection_point/Debug/intersec.F4F362E5.tlog
/intersection_point/Debug
/intersection_point/.vs/intersection_point/v14
/opencv_webcam_connection/Debug
/opencv_webcam_connection/.vs/opencv_webcam_connection/v14
/ex_udp/.vs/ex_udp/v15/Browse.VC.db
/ex_udp/.vs/ex_udp/v15/Browse.VC.opendb
/ex_eigen/Debug
/MFC/.vs/MFC/v14
/ex_console_opencv/.vs/ex_console_opencv/v14
/ex_console_opencv/Debug
/ex_console_opencv/Release
/ex_console_opencv/x64
